html 
    head 
        title Chatrum
    body
        h Chatrum for #{chatnavn} 
        ul 
            each besked in chatcontainer 
             li: p #{besked}

        form(action="/postmessage", method="POST")
            input(name = "message", type="text", placeholder= "Skriv for satan!")
            input(name = "username", type="hidden", data= username) 
            input(name = "chatid", type="hidden", data= chatid) 
            br
            button(type="submit", id="send") fyr
        
        a(href= "/") kom tilbage her