html 
    head 
        title chatrooms
    body 
        if usersession.login != true
            h1 Velkommen! 
            h Du er ikke logget ind, men kan fortsætte som gæst.
                    
            form(action="/login", method="POST")
                input(name="un", type="text", placeholder="brugernavn")
                input(name="pw", type="password", placeholder="adgangskode")
                br
                button(type="submit") log ind
            h Har du ikke en bruger?
            br

            form(action="/createuser?_method=PUT", method="POST")
                input(name="un", type="text", placeholder="brugernavn", minlength="3")
                input(name="pw", type="text", placeholder="adgangskode", minlength="5")
                br
                button(type="submit") Opret dig her!
        else 
            h Velkommen #{usersession.un}
            form(action="/logud", method="POST")
                button(type="submit") log ud

            if usersession.lv == 3
                h Spil gud over de fortabte sjæle!
                br
                button: a(href="/users") Liste over brugere

            if chatlist.length <= 0
                p Eder thi er ej del af nogle chats! Du må være ensom

            else 
                p chatlistens størrelse: #{chatlist.length}
                ul 
                    each chat in chatlist
                        li chat 
        br
        
        p globale chatrum: 
            ul 
                each chat in globalchats 
                    li: a(href="/chats/"+chat.id+"/messages") #{chat.chatnavn}

    