html 
    head 
        title chatrooms
        script(async, defer, src="/scripts/createUser.js")
    body 
        if usersession.login != true
            h1 Velkommen! 
            h Du er ikke logget ind, men kan fortsætte som gæst.
                    
            form(action="/login", method="POST")
                input(name="un", type="text", placeholder="brugernavn")
                input(name="pw", type="password", placeholder="adgangskode")
                br
                button(type="submit") log ind
            h Har du ikke en bruger?
            br
            input(id="un", type="text", placeholder="brugernavn", minlength="3")
            input(id="pw", type="text", placeholder="adgangskode", minlength="5")
            br
            button(id="createuser" type="submit") Opret dig her!

        else 
            h Velkommen #{usersession.un}
            form(action="/logud", method="POST")
                button(type="submit") log ud

            if usersession.lv == 3
                h Spil gud over de fortabte sjæle!
                br
                button: a(href="/users") Liste over brugere

            if chatlist.length <= 0
                p Eder thi er ej del af nogle chats! Du må være ensom

            else 
                p chatlistens størrelse: #{chatlist.length}
                ul 
                    each chat in chatlist
                        li chat 
            br
        
        p globale chatrum: 
            ul 
                each chat in globalchats 
                    li: a(href="/chats/"+chat.id+"/messages") #{chat.chatnavn}

            if error 
                p.error-message #{error}
        if usersession.login == true
            form(action="/createchat", method="POST")
                input(type="text", name="chatnavn", id="chatnavn", placeholder="Indtast chatnavn", required)
                button(type="submit") Opret chatrum!
    