html 
    head 
        title chatrooms
    body 
        h Velkommen #{usersession.id}
        br
        button: a(href="/login") Log ind
        button: a(href="/createuser") Opret bruger

        if chatlist.length <= 0
            p Eder thi er ej del af nogle chats! Du må være ensom

        else 
            p chatlistens størrelse: #{chatlist.length}
            ul 
                each chat in chatlist
                    li chat 

        p globale chatrum: 
            ul 
                each chat in globalchats 
                    li: a(href="/chats/"+chat.id) #{chat.chatnavn}

    